.skeletonTrack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  animation: fadeIn 0.3s ease-in;
}

.skeletonTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  gap: 16px;
}

.skeletonAuthor {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}

.skeletonAlbum {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}

.skeletonTime {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .skeletonAuthor,
  .skeletonAlbum {
    display: none;
  }

  .skeletonTitle {
    width: 65%;
  }

  .skeletonTime {
    width: 35%;
  }
}
