.skeletonTrack {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-between;
}

.skeletonTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 447px;
}

.skeletonAuthor {
  width: 321px;
}

.skeletonAlbum {
  width: 245px;
}

.skeletonTime {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 17px;
  align-items: center;
}

@keyframes skeletonPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.skeletonTrack {
  animation: skeletonPulse 2s infinite ease-in-out;
}
