.skeletonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  animation: slideInUp 0.4s ease-out;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Последовательная анимация для каждого скелетона */
.skeletonContainer > div:nth-child(1) {
  animation-delay: 0s;
}

.skeletonContainer > div:nth-child(2) {
  animation-delay: 0.05s;
}

.skeletonContainer > div:nth-child(3) {
  animation-delay: 0.1s;
}

.skeletonContainer > div:nth-child(4) {
  animation-delay: 0.15s;
}

.skeletonContainer > div:nth-child(5) {
  animation-delay: 0.2s;
}

.skeletonContainer > div:nth-child(6) {
  animation-delay: 0.25s;
}

.skeletonContainer > div:nth-child(7) {
  animation-delay: 0.3s;
}

.skeletonContainer > div:nth-child(8) {
  animation-delay: 0.35s;
}
